    /* Config de la grilla de Flota*/

    @mixin flex-colum-standar {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    
    }
    
    main{
        .titulo{
            @include titulo();
        }
    }


    .grid-container { 
        display: grid;
        justify-content: center;
        align-items:flex-start  ;
        grid-template-rows: repeat(2, 1fr);
        grid-template-columns: repeat(2, 1fr);
        row-gap: 10px;
        column-gap: 10px;
        padding-top: 2em;


    
    }
    
    .grid-item {

        @include flex-colum-standar();
        padding: 10px;
        color: antiquewhite



            
        }
    ;
